<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Twitter Markov Generator</h1>
        <p class="text-center">This application looks at a user's past tweets and trys to write a tweet that sounds like them. Sometimes it is pretty close and sometimes it doesn't make any sense. <a href="http://en.wikipedia.org/wiki/Markov_chain">Lean more about Markov Chains</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form ng-submit="submitToBuild()">
                <input type="text" class="form-control input-lg" placeholder="Twitter username" ng-model="username">
            </form>
        </div>
    </div>

    <hr>

    <div class="row" ng-if="isLoading">
        <div class="col-sm-12">
            <p class="text-center"><i class="fa fa-refresh fa-spin fa-4x"></i></p>
        </div>
    </div>

    <ul class="media-list" ng-if="randomTweet">
        <li class="media" ng-repeat="tweet in randomTweet">
            <div class="media-left">
                <img class="media-object" src="{{ tweet.image }}" alt="Image of the user">
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ tweet.username }}
                    <small>{{ tweet.name }}</small>
                </h4>
                {{ tweet.random_tweet }}
                <p><a href="https://twitter.com/intent/tweet?text={{ tweet.random_tweet }}" target="_blank">Share on Twitter</a></p>
            </div>
        </li>
    </ul>
</div>